extends layout

block content
  div.location-form
    span New Location Form
    form(method='POST' action='/locations/add')
        div.form-group
            label(for='loc_id') ID: 
            input#loc_id.form-control(type='text', placeholder='Location ID' name='loc_id')
        div.form-group
            label(for='loc_name') Name: 
            input#loc_name.form-control(type='text', placeholder='Location Name' name='loc_name')
        button.location-submit(type='submit') Add Location
  h1.location-title= title
  each ele in result
    div.location-higher.div-form-width
     span.location-name-span #{ele.name} [#{ele.id}]
     form.inline-right(method='POST', action=`/locations/${ele.id}`)
        input(type='hidden', value='DELETE', name='_method')
        button.location-delete-btn(type='submit') Delete


