body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.location-title {
  margin: 20px 0 0 0;
}

.location-form {
  border: 1px solid grey;
  padding: 10px;
  width: 300px;
}

.location-submit {
  margin-top: 5px;
}

.inline-right {
  float: right;
}

.location-higher {
  height: 30px;
  position: relative;
  border-bottom: 1px solid lightblue;
}

.div-form-width {
  width: 300px;
}

.location-name-span {
  position: absolute;
  bottom: 0;
}

.location-delete-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

