body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p.home-page {
  font-size: 20px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.location-title {
  margin: 20px 0 0 0;
}

.location-form {
  border: 1px solid grey;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
}

.location-submit {
  margin-top: 5px;
}

.inline-right {
  float: right;
}

.location-higher {
  height: 30px;
  position: relative;
  border-bottom: 1px solid lightblue;
}

.div-form-width {
  width: 300px;
  padding: 0 10px 5px 10px;
}

.location-name-span {
  position: absolute;
  bottom: 0;
}

.delete-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.edit-btn {
  position: absolute;
  bottom: 0;
  right: 60px;
}

.submit-changes-btn {
  position: absolute;
  left: 150px;
}

.location-buttons-edit {
  margin-top: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

a.link-higher {
  font-size: 20px;
}

